<footer>
    <div class="footer-default">
        <a class="footer-item" href=""> © Designed by Team Avenger</a>
        <img class="footer-img" src="../../assets/facebook.png" width="14x">
        <a class="footer-item" href="">Facebook</a>
        <img class="footer-img" src="../../assets/twitter.png" width="14px">
        <a class="footer-item" href="">Twitter</a>
        <img class="footer-img" src="../../assets/instagram.png" width="14px">
        <a class="footer-item" href="">Instagram</a>
        <img class="footer-img" src="../../assets/whatzapp.png" width="20px">
        <a class="footer-item" href="">Whatsapp</a>
    </div>
  </footer>

