<nav-bar></nav-bar>
<div class="main-header">
    <h3>Policy List</h3><br>
</div>
<div *ngIf = "isLoggedIn != true" class ="data-notfound-error"> Data Not Found !!! Please Login to view the details</div>
<mat-form-field appearence="fill" *ngIf = "isLoggedIn == true " class='col-md-6'>
    <mat-label>Search Policy Details...</mat-label>
        <input matInput class="col-md-4" type='text' (keyup)="applyFilter($event)" #input/>
</mat-form-field>
            <table *ngIf = "isLoggedIn == true" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>                 
                <ng-container matColumnDef="policyID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> PolicyID </th>
                    <td mat-cell *matCellDef="let element"> {{element.policyID}} </td>
                </ng-container>

                <ng-container matColumnDef="policyName">
                    <th mat-header-cell *matHeaderCellDef> PolicyName </th>
                    <td mat-cell *matCellDef="let element"> {{element.policyName}} </td>
                </ng-container>

                <ng-container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef> UserName </th>
                    <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                </ng-container>

                <ng-container matColumnDef="country">
                    <th mat-header-cell *matHeaderCellDef> Country </th>
                    <td mat-cell *matCellDef="let element"> {{element.country}} </td>
                </ng-container>

                <ng-container matColumnDef="policyCoverage">
                    <th mat-header-cell *matHeaderCellDef> PolicyCoverage </th>
                    <td mat-cell *matCellDef="let element"> {{element.policyCoverage}} </td>
                </ng-container>
                
                <ng-container matColumnDef="policyPremium">
                    <th mat-header-cell *matHeaderCellDef> PolicyPremium </th>
                    <td mat-cell *matCellDef="let element"> {{element.policyPremium}} </td>
                  </ng-container>
                
                 <ng-container matColumnDef="paymentStatus">
                    <th mat-header-cell *matHeaderCellDef> PaymentStatus </th>
                    <td mat-cell *matCellDef="let element"> {{element.paymentStatus}} </td>
                 </ng-container>

                 <ng-container matColumnDef="actions">
                    <th class="actions" mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element" >
                        <button mat-raised-button class="edit">Edit</button>

                        <button mat-raised-button (click)="deletePolicy(element)" class="delete">Delete</button>
                    </td>
                 </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[4,10,25,100]"></mat-paginator>
            <div *ngIf = "isLoggedIn == true && noDataFound == true" class ="data-notfound-error"> Data Not Found !!! Please work with user to create policy</div>
      
            <footer-bar></footer-bar>    
