<nav-bar></nav-bar>
<div class="main-header">
    Policy List
</div>
<div *ngIf = "isLoggedIn != true" class ="data-notfound-error"> Data Not Found !!! Please Login to view the details.</div>

<mat-form-field appearence="fill" *ngIf = "isLoggedIn == true " class='col-md-6'>
    <mat-label style = "color:azure">Search Policy Details...</mat-label>
        <input matInput class="col-md-4"  placeholder ="search policy" type='text' (keyup)="applyFilter($event)" #input/>
</mat-form-field>

<a *ngIf="isLoggedIn == true && isAgent == true" id="item" class="btn btn-primary" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true} " (click)="openPolicyCreationModal()" style="margin-left: 850px;">Create Policy</a>

<div [formGroup]="policyGroup" >
            <table *ngIf = "isLoggedIn == true" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>                 
                <ng-container matColumnDef="policyID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> PolicyID </th>
                    <td mat-cell *matCellDef="let element"> {{element.policyID}} </td>
                </ng-container>

                <ng-container matColumnDef="policyName">
                    <th mat-header-cell *matHeaderCellDef> PolicyName </th>
                    <td mat-cell *matCellDef="let element"> {{element.policyName}} </td>
                </ng-container>

                <ng-container matColumnDef="userName">
                    <div *ngIf = "isAgent == true" >
                        <th mat-header-cell *matHeaderCellDef> User Name </th>
                    </div>
                    <div *ngIf = "isAgent == false" >
                        <th mat-header-cell *matHeaderCellDef> Agent Name </th>
                    </div>
                    <div *ngIf = "isAgent == true" >
                        <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                    </div>
                    <div *ngIf = "isAgent == false" >
                        <td mat-cell *matCellDef="let element"> {{element.agentName}} </td>
                    </div>
                </ng-container>

                <ng-container matColumnDef="country">
                    <th mat-header-cell *matHeaderCellDef> Country </th>
                    <td mat-cell *matCellDef="let element"> {{element.country}} </td>
                </ng-container>

                <ng-container matColumnDef="policyCoverage">
                    <th mat-header-cell *matHeaderCellDef> Policy Coverage </th>
                    <td class = "cell-td" mat-cell *matCellDef="let element"> {{element.policyCoverage}} </td>
                </ng-container>
                
                <ng-container matColumnDef="policyPremium">
                    <th mat-header-cell *matHeaderCellDef> Policy Premium </th>
                    <td  mat-cell *matCellDef="let element ; let i = index">
                        <span  *ngIf="!element.editable; else editPlace1">
                            {{element.policyPremium}}
                           </span>
                           <ng-template #editPlace1>
                            
                             <input [(ngModel)]="element.policyPremium"  formControlName ="policyPremium" 
                             class = "edit-text-box" (keyup.enter)="element.editable = false" >
                            
                           </ng-template> </td>
                  </ng-container>
                
                 <ng-container matColumnDef="paymentStatus">
                    <th mat-header-cell *matHeaderCellDef> Payment Status </th>
                    <td  mat-cell *matCellDef="let element; let i = index" > 
                        <span  *ngIf="!element.editable; else editPlace">
                        {{element.paymentStatus}} 
                       </span>
                       <ng-template #editPlace>
                       
                         <input [(ngModel)]="element.paymentStatus" class = "edit-text-box"
                          formControlName ="paymentStatus" 
                          (keyup.enter)="element.editable = false" >
                        
                       </ng-template>
                    </td>
                 </ng-container>

                 <ng-container matColumnDef="actions">
                    <th class="actions" mat-header-cell *matHeaderCellDef> Actions </th>
                    <td class="update" mat-cell *matCellDef="let element; let i = index" >
                        <button *ngIf = "element.editable == false && isAgent == true" mat-raised-button class="edit" (click)="edit(element)" > Edit</button>
                        <button *ngIf = "element.editable == true && isAgent == true" mat-raised-button class="edit" (click)="updatePolicy(element)" > Save</button>
                        <button *ngIf = "isAgent == true" mat-raised-button (click)="updatePolicy(element)" class="delete">Delete</button>
                    </td>
                 </ng-container>
                    <div *ngIf = "isAgent == true">
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsForAgent"></tr>
                        <tr  mat-row *matRowDef="let row; columns: displayedColumnsForAgent;"></tr>
                    </div>
                     <div *ngIf = "isAgent == false" >
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr  mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </div> 
            </table>
        </div>
            <mat-paginator *ngIf = "isLoggedIn == true" [pageSizeOptions]="[5,10,25,100]"></mat-paginator>
            <div *ngIf = "isLoggedIn == true && noDataFound == true && isAgent == true" class ="data-notfound-error"> Data Not Found !!! Please create Policies.</div>  
            <div *ngIf = "isLoggedIn == true && noDataFound == true && isAgent == false" class ="data-notfound-error"> Data Not Found !!! Please work with agent to create policies.</div>      
