
.main-header{
    padding-top: 10px;
    text-align: center;
}
table {
    width: 90%;
    margin: auto 25px 30px 65px;
 }
 th.mat-header-cell{
    font-weight:bolder;
    font-size: medium;
    color: black;
 }
 .mat-raised-button{
    background-color: red;
    margin: 5px;
 }
