<div>
    Policy List
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
               <h4>Filtered By: {{listFilter}}</h4>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>SrId</th>
                        <th>Username</th>
                        <th>PolicyID</th>
                        <th>Coverages</th>
                        <th>Premium</th>
                        <th>PaymentStatus</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let policy of filteredPolicy'>
                        <td><a>
                              {{policy.userName}}
                            </a>
                        </td>
                        <td>{{policy.policyCode}}</td>
                        <td>{{policy.releaseDate}}</td>
                        <td>{{policy.price}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>