@import "~bootstrap/dist/css/bootstrap.min.css";
/* @import "~font-awesome/css/font-awesome.min.css"; */
body{
  background-image : url("../src/assets/background.jpg");
}
.nav-item:hover {
    color: orange;
    cursor: pointer;
  }
  .container {
    padding-top: 10px;
  }
  
  .pointable {
    cursor: pointer;
  }
  
  button {
    color: #555;
  }
  

  .cdk-overlay-container{
    z-index: 9999;
  }
  .mat-select-min-line{
    color: black;
    text-size-adjust:inherit;
  }
