body{
  background-color: rgb(235, 232, 232);
}
.nav-item:hover {
    color: orange;
    cursor: pointer;
  }
  
  .container {
    padding-top: 10px;
  }
  
  .pointable {
    cursor: pointer;
  }
  
  button {
    color: #555;
  }
  

  
