<nav-bar></nav-bar>
<div class="card">
    <div class="card-header">
      <h3>{{pageTitle}}</h3>
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <img src="../../assets/safetravels.png"
               class="img-responsive center-block"
               style="max-height:300px;padding-bottom:50px" />
        </div>
  
        <div class="text-center"><h6>We understand the value of health.Therefore, we offer the largest insurance coverage.<br>
            We control the quality of work of medical institutions using your policy details on our website.</h6>
        </div>
     
      </div>
    </div>
  </div>
  